/* Common */
html,
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.btn:focus {
  outline: none !important;
}
.content-pink {
  color: #fb607f;
}
.background-pink {
  background-color: #fb607f;
}
.background-mint {
  background-color: #0c7aec;
}

.strokeme {
  color: white;
  text-shadow: -2px -2px 0 #fb607f, 2px -2px #fb607f, -2px 2px 0 #fb607f, 2px 2px 0 #fb607f;
}


/* Navbar */
.navbar-custom {
  background-color: #0c7aec;
  color: #fff;
}

.navbar-custom .navbar-brand {
  font-size: 30px;
  font-weight: 600;
}
.dropdown-menu {
  background-color: #0c7aec;
  border: none;
}
.dropdown-item {
  color: #fff;
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }

  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }

  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

/* Footer */
.footer {
  background-color: #0c7aec;
  position: absolute;
  color: #fff;
  width: 100vw;
  /* transform: translateX(-15px); */
}
h4 {
  padding: 15px 0;
}
.footer li {
  list-style-type: none;
}
.footer li a {
  color: #fff;
}
.footer-course-list li {
  margin-bottom: 10px;
}
.footer-contact i {
  background-color: #fb607f;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  padding: 0;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 22px;
}


/* Homepage ------------------------------- */
/* Banner */
.carousel-item {
  height: 32rem;
  background: #000;
  color: #fff;
  position: relative;
}
.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 80px;
}
.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
}
.carousel-item {
  backface-visibility: visible;
}

/* Artist */
.artist {
  width: 100%;
  height: 100%;
}
.artist-info ul li {
  margin-bottom: 10px;
}
.artist-info ul li i {
  color: #fb607f;
  font-size: 12px;
}

/* Why us */
.why-us {
  height: fit-content;
  background-color: #000;
  position: relative;
  text-align: center;
  color: white;
  font-size: 2rem;
}
.why-us-list div {
  padding: 10px 0;
}

/* Course */
.card,
.card-header {
  background-color: transparent;
  border: none;
  padding: 0 !important;
  margin-bottom: 20px;
}
.card {
  /* box-shadow: 0 2px 25px 0 #e1f8f0; */
  border: 2px solid #fb607f;
}
.btn-link {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #000 !important;
  font-weight: bold;
  text-align: left;
  text-decoration: none !important;
}
.card-body {
  background: #f7dde2;
}

/* Benefit */
.benefit-list li i{
  font-size: 45px;
  margin-bottom: 10px;
  color: #fb607f;
}

/* Gallery */
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.row .column {
  flex: 33.3%;
  width: auto;
  overflow: hidden;
  padding: 4px;
  height: 100%;
}
.row .column img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
  .row .column {
    flex: 50%;
  }
}

/* Feedback */
.slider-area {
  padding: 10px;
  position: relative;
  background-color: #fb607f;
  opacity: 0.85;
  border-radius: 25px;
  width: fit-content;
  margin: auto;
}
.carousel-control.left,
.carousel-control.right {
  background: transparent;
}
.img-area {
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}
.img-area img {
  height: 100%;
  transform: translateX(-18px);
}
.feedback .carousel-item {
  height: fit-content;
  background-color: #fb607f;
}
.feedback .carousel-caption {
  position: static;
  width: 80%;
  margin: 10px auto;
}



/* Course page --------------------------- */
.course-desciption p{
  font-size: 18px;
}
hr {
  border: 1px solid #fb607f;
  width: 60vh;
}
/* ----- */
.courses-type-photo{
  height: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Method */
.method {
  width: 100%;
  height: 100%;
}
.method-info ul li {
  margin-bottom: 14px;
  font-size: 16px;
}
.method-info ul li i {
  color: #fb607f;
  font-size: 12px;
}

/* Price */
#price{
  font-size: 45px;
}



/*------------------------------------------------------*/
/* Gallery page */
.gallery-title
{
    text-align: center;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;

}
.filter-button
{
    font-size: 18px;
    border: 1px solid #0c7aec;
    border-radius: 5px;
    text-align: center;
    color:  #0c7aec;
    margin-bottom: 30px;
    background-color: #fff;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #fb607f;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #fb607f;

}
.filter-button:focus
{
    background-color: #fb607f;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product img
{
    margin-bottom: 30px;
    overflow: hidden;
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100%;
    max-height: 350px;
    margin-bottom: 1rem;
}
